/* 
colors
primary #EDE6DB
secondary #417D7A
third #1D5C63
four #1A3C40

 */

/* Styles general */
.body {
	font-family: "Montserrat", sans-serif;
	background-color: #d3d3d3;
}

/* new Styles */
/* body {
	background-color: #d3d3d3 !important;
	font-family: "Montserrat", sans-serif;
	color: #fff !important;
	font-size: 14px;
	letter-spacing: 1px;
} */
